{% extends 'base.html.twig' %}

{% block title %}
    My projects
{% endblock %}

{% block body %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Number</th>
            <th>Name</th>
            <th>Type</th>
            <th>Open/Close</th>
            <th>Created At</th>
            <th>Updated At</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for info in informationList %}
            <tr>
                <td>{{ info.number }}</td>
                <td>{{ info.project.projectName }}</td>
                <td>{{ info.type }}</td>
                <td><b style="color: {{ info.color }}">{{ info.openclose }}</b></td>
                <td>{{ info.project.createdAt.format('d/m/Y') }}</td>
                <td>{{ info.project.updatedAt.format('d/m/Y') }}</td>
                <td><a href="/user/{{ user.id }}/{{ info.project.projectName }}" class="btn btn-primary">Edit</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}