{% extends 'base.html.twig' %}

{% block title %}
    Users projects
{% endblock %}

{% block body %}
    {% if isProjectsExist %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Number</th>
            <th>Name</th>
            <th>Type</th>
            <th>Created At</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for info in informationList %}
            <tr>
                <td>{{ info.openNumber }}</td>
                <td>{{ info.project.projectName }}</td>
                <td>{{ info.type }}</td>
                <td>{{ info.project.createdAt.format('d/m/Y') }}</td>
                <td><a href="/project/{{ currentUser.id }}/{{ info.project.projectName }}" class="btn btn-primary">View</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <h1>Sorry</h1>
    {% endif %}
{% endblock %}