{% extends 'base.html.twig' %}

{% block title %}
    Project {# todo #}
{% endblock %}

{% block body %}

    {% if user == currentUser %}
    {{ form(newFolder) }}
    <hr>
    {{ form(newFile) }}
    {% else %}
        <h2>{{ project.projectName }}</h2>
    {% endif %}

    <table class="table table-striped">
        <thead>
        </thead>
        <tbody>
        {% for folder in informationList.folder %}
            <tr>
                <td>Folder</td>
                <td>{{ folder }}</td>
                <td><a href="{{ currentPath }}{{ folder }}" class="btn btn-primary">Open</a></td>
            </tr>
        {% endfor %}
        {% for file in informationList.file %}
            <tr>
                <td>File</td>
                <td>{{ file }}</td>
                <td><a href="{{ currentPath }}{{ file }}" class="btn btn-primary">Edit</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}