{% extends 'base.html.twig' %}

{% block title %}
    User Page
{% endblock %}

{% block body %}
    {% if verify %}
        <h2>My Page</h2>
    {% else %}
        <h2>{{ currentUser.nickname }} Page</h2>
    {% endif %}
    Nickname: {{ currentUser.nickname }}
    <br>
    Email: {{ currentUser.email }}
    <br>
    Work with "Eren" from {{ currentUser.createdAt.format('d/m/Y') }}
    <br>
    {% if currentUser.company %}
        My company: {{ currentUser.company }}
        <br>
    {% endif %}
    {% if currentUser.description %}
        About me: {{ currentUser.description }}
        <br>
    {% endif %}
    {% if verify %}
        <br>
        <a href="/user/{{ currentUser.id }}/edit">Edit data</a>
        <br>
        <a href="/pass_change">Change password</a>
    {% endif %}

{% endblock %}